/* Gabriel Diaconu 2023 */
/* This is a CSS file that defines styles for various HTML elements on a web page. It sets colors, backgrounds, widths, and margins for the page background, a container, a specific div element, and an input field. It also applies a style to invalid input fields by setting a red border. The styles are defined using element names, classes, IDs, and selectors to target specific HTML elements. */

body {
    background-color: blue !important;
    color: white !important;
}

.container {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#box {
    margin: 10px;
    padding: 10px;
    background-color: darkblue;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

input:invalid {
    border: 2px solid red;
}

#target {
    width: 309px;
}